body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins, Verdana, Geneva, Tahoma, sans-serif;
    color: #303030;
    background-color: rgb(201, 238, 226);
}
.menu-modal-bg {
    background-color: rgba(129, 128, 128, 0.7);
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    opacity: 0;
    visibility: hidden;
}
.menu-modal {
    background-color: rgb(151, 150, 150);
    border-radius: 3px;
    box-shadow: 1px 1px  3px rgb(252, 249, 249);
    position: fixed;
    width: 50%;
    top: 25%;
    left:25%; 
}
.menu-modal ul  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style: none;
    line-height: 5rem;
    font-size: 1.5rem;
          
}
.menu-modal a { 
    text-decoration: none; 
    color: whitesmoke;
    border-bottom: 1px solid white;
    padding-bottom: .5rem;
}

.menu-modal-bg-active {
    visibility: visible;
    opacity: 1;
    transition: .5s ease;   
}
#closed-menu {
    position: relative;
    /* bottom: 1rem; */
    float: right;
    margin:  .5rem ;
    cursor: pointer;

} 

.order-modal {
    background-color: aquamarine;
    height: 30vh;
    width: 50vw;
    position: fixed;
    top: 15%;
    left: 20%;
    border-radius: 5px;
    border-top: 5px solid rgb(17, 99, 48);
    visibility: hidden;
}
.oder-modal-closed-btn {
    position: relative;
    bottom: 1rem;
    float: right;
    cursor: pointer;
    padding: 0 .3rem;
}
.order-modal-form {
     padding: 0 1.5rem;
}

.oder-modal-closed-btn:hover { background-color: rgba(87, 85, 85, 0.308);}
.order-modal-form input{
    display: flex;
    padding: .3rem .5rem;
    border-radius: 3px;
    border:none;
    line-height: 1rem;
    margin: .5rem 0;;
}
.order-modal-active {
    opacity: 1;
    visibility:visible;  
}
header {
    width: 100%;
    height: 10vh;
    border-bottom: 1px solid #e6e6e6;
    position: sticky;
    top: 0;
    background-color: rgb(201, 238, 226);
    box-shadow: 1px 1px 2px whitesmoke;
}
header > div {
    display: flex;
    justify-content: center;
    align-items: center; 
    margin: 1rem 3rem 0 3rem; 
}
header a {
    padding-left: 1rem;
    display: none;
}
header .main-logo {
    width: 50px;
    height: 50px;
    flex: 1;
}
.banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 90vw;
    margin: 2.2rem auto 2.5rem auto;
    padding: 1rem ;
    height: 65vh;
    font-family: verdana;
}
.banner h1 {
    color: rgba(2, 2, 2, 0.733);
}
.banner p {
    letter-spacing: 1px;
}
hr {
    width: 50vw;
    height: 2px ;
    background-color:#0b7909;
}
.banner img {
    border-radius: 5px;
    width: 90vw;
}

.product-container {
    background-color: #fafafa;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 90%;
    height: 40vh;
    margin: 0 auto;
    padding: .5rem;
    margin-bottom: 1rem ;
    border-radius: 5px;
    box-shadow: 1px 2px 2px 2px rgb(150, 149, 149);
    align-items: center;
    color: #4f4f4f;
}

.product-img img {
    width: 40vw;
    height: 30vh;
    border-radius: 5px;
}

/* carousel *************************************************************/
.customer-feedback-wrapper {
	display: flex;
	justify-content: center;
	align-content: center;
	align-items: center;
}
.person-descripton {
	border-radius: 5px;
	padding: 1rem 0;
	width: 80vw;
	text-align: center;
	margin-bottom: 1rem;
}
#personImage {
    width: 80vw;
    height: 50vh;
    border-radius: 5px;
}
#customer-feedback {
    color: rgb(19, 105, 185);
    font-weight: bold;
    text-align: center;
    font-size: 1.7rem;
}
.icons {
	display: flex;
	justify-content: center;
	gap: .7em;
	font-size: 3em;
	cursor: pointer;
	color: gray;
}
.icon {
	padding: 0 .3em;
}

.footer-link {
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(214, 214, 214);
    box-shadow: 1px 2px 2px 4px rgb(150, 149, 149);
    height: 8vh;
    width: 100vw;
    height: 8vh;
    align-items: center;
    position: fixed;
    bottom: 0;    
}
.footer-link a {
    letter-spacing: 1px;
    border: none;
    background-color: rgb(38, 108, 214); 
    padding: .3rem .5rem;
    color: white ;
    border-radius: 3px;
    text-decoration: none;
    font-size: .9rem;
    box-shadow: 1px 1px 1px 1px rgb(168, 168, 168);  
}
.footer-link button {
    letter-spacing: 1px;
    /*margin-left: 1rem;*/
    border: none;
    background-color: rgb(38, 108, 214); 
    padding: .5rem 1rem;
    color: white ;
    border-radius: 3px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 1px 1px 1px 1px rgb(168, 168, 168);   
}
.description {
            display: flex;
            flex-direction: column;   
}
.description .item-name {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: .7rem;
}
.description .item-price {
    font-weight: 500;
    margin-top: .5rem;

}


@media only screen and (min-width : 992px) {
    .banner img {
        border-radius: 5px;
        width: 60vw;
    }
    header #menu {
        display: none;
    }
    header a {
    margin-left: 2rem;
    padding: .2rem .5rem ;
    display: inline-block;
    transition: .3s;
    color: #6e6e6e;
    text-decoration: none;
    font-weight: 500;
    font-size: 1.2rem;

    }
    header a:hover {
        text-shadow: 1px 1px #808080;
    }
    hr {
        width: 15vw;
        height: 2px ;
        background-color:#0b7909;
    }
    .main-content {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .product-container {
        background-color: #fafafa;
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 90%;
        height: 40vh;
        margin: 0 auto;
        padding: 1rem;
        margin-bottom: 1rem ;
        border-radius: 5px;
        box-shadow: 2px 2px 4px rgb(150, 149, 149);
        align-items: center;
        letter-spacing: 1px;
    }
    .product-img img {
        width: 20vw;
        height: 30vh;
        border-radius: 5px;
    }
    #personImage {
        width: 60vw;
        height: 70vh;
        border-radius: 5px;
    }
}
